QLineEdit { 
	border-radius: 3px;
}

QLabel { 
	color: white; 
}

QPushButton
{
	color: white;
	background-color: #27a9e3;
	border-width: 0px;
	border-radius: 3px;
}

QPushButton:hover { 
	background-color: #66c011; 
}

#centralWidget
{
	/*background: transparent;*/
	border-image: url(:/images/login_bg.png);	
	/*background-image: url(:/images/login_bg.png);*/
}

#topPanel { 	
	background-color:qlineargradient(spread:reflect, x1:0.5, y1:0, x2:0, y2:0, stop:0 rgba(91, 204, 233, 100), stop:1 rgba(32, 80, 96, 100)); 
}

#loginForm
{
	background: #666666;
	border-radius: 8px;
}
